.main {
    width: 100%;
    height: 5rem;
    background-color: gray;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 5rem 0 5rem ;

    text-decoration: none;
}

.otherLink {
    display: flex;
    margin-left: 10rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2rem;
    width: 80vw;
    color: white;
    text-decoration: none;
    transition: all .2s;
}

.otherLink:visited {
    color: white;
}

.otherLink:hover {
    color: black;
    font-size: 3rem;
}

.otherLink.p {
    border-bottom: 2px solid white;
}


.logout {
    display: flex;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .2s;
    margin-left: auto;
    font-size: 2rem;
    color: white;
}

.logout:hover {
    color: red;
    font-size: 2rem;
    border-bottom: 2px solid red;
}
